#products-container{
    display: flex;
    border-bottom: 2px solid #000;
}

.product{
    /* background-color: #F2E2B1; */
    border: 2px solid #b5b3b3;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
}
img{
    background-color: #fff;
}
.price{
    color: orange;
    border-bottom: 2px solid #000;
}

#bag-container{
    display: flex;
}